@{
    ViewBag.Calc = 20 / 5;
}

@model ProjectsViewModel

<h1>@ViewBag.Calc</h1>

<h1>The Book project</h1>

@foreach(Book p in Model.Books)
{
                <h3>@p.Title</h3>

            }

<div page-book="@Model.PageInfo" page-action="Index"></div>
