@{
}

@model IEnumerable<string>

<div class="d-grid">
    <form>
        <select class="form-select" onchange="window.location.href = this.value;">
            <option value="@Url.Action("Index", "Home", new { bookCategory = (string)null })">Home</option>
            @foreach (string c in Model)
            {
                <option value="@Url.Action("Index", "Home", new { bookCategory = c })">@c</option>
            }
        </select>
    </form>
</div>




